body {
    font-family: 'Signika Negative';
    background-color: antiquewhite;
    color: #eba871;
    /* wheat, burleywood, antiquewhite, lightslategray */
    /* 
#5a95b3
#b2c8df
#ddb695
#ac754c
#714423
    */
}

.topnav {
    height: 40px;
    background-color: antiquewhite;
    box-shadow: 0 8px 15px rgb(0 0 0 / 5%);
    display: flex;
    text-align: center;
    width: 100%;
    display: inline-block;
}
  
.topnav a {
    color: #eba871;
    text-decoration: none; 
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
}

.topnav > a:hover, a.active {
    height: 20px;
    background-color: #eba87156;
}

/* .topnav .icon {
    display: none;
} */

.title {
    padding: 15px;
    text-align: center;
    opacity: 0;
    animation: fadeInTitle 1s ease forwards; 
}

h2, h3 {
    text-align: center;
    opacity: 0;
    animation: 1s fadeInHeaders calc(var(--t) * .15s + .5s) ease forwards;
    list-style-position: inside;
}

@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInHeaders {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}